<!-- Load leaflet for R
Commented out since it changes the style of the theme
<link href="https://rstudio.github.io/leaflet/libs/bootstrap/css/flatly.min.css" rel="stylesheet" />
-->
<script src="https://rstudio.github.io/leaflet/libs/jquery/jquery.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/js/bootstrap.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/html5shiv.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/bootstrap/shim/respond.min.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/navigation/tabsets.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/highlightjs/highlight.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/htmlwidgets/htmlwidgets.js"></script>

<script src="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.js"></script>

<script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4-compressed.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/Proj4Leaflet/proj4leaflet.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://rstudio.github.io/leaflet/libs/highlightjs/default.css" rel="stylesheet" />
<link href="https://rstudio.github.io/leaflet/libs/leaflet/leaflet.css" rel="stylesheet" />
<link href="https://rstudio.github.io/leaflet/libs/leafletfix/leafletfix.css" rel="stylesheet" />
<link href="https://rstudio.github.io/leaflet/libs/rstudio_leaflet/rstudio_leaflet.css" rel="stylesheet" />

<script src="https://rstudio.github.io/leaflet/libs/leaflet-binding/leaflet.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-providers/leaflet-providers_1.9.0.js"></script>
<script src="https://rstudio.github.io/leaflet/libs/leaflet-providers-plugin/leaflet-providers-plugin.js"></script>

<!-- leaflet.extras package / check https://github.com/bhaskarvk/leaflet.extras/tree/master/inst/htmlwidgets/build-->
<!-- You may need to include new refs -->
<!-- leaflet.extras package / heatmap -->
<script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-prod.js"></script>
<script src="https://dieghernan.github.io/js/leaflet_extras/lfx-heat/lfx-heat-bindings.js"></script>	
